<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<display-name>CreateServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Create</servlet-name>
  	<display-name>Create</display-name>
  	<description></description>
  	<servlet-class>controller.CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCustomer</servlet-name>
  	<display-name>CreateCustomer</display-name>
  	<description></description>
  	<servlet-class>controller.CreateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomer</servlet-name>
  	<display-name>ViewCustomer</display-name>
  	<description></description>
  	<servlet-class>controller.ViewCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<display-name>UpdateCustomer</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<display-name>DeleteCustomer</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/customerchoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCustomer</servlet-name>
  	<url-pattern>/customerregistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomer</servlet-name>
  	<url-pattern>/viewcustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<url-pattern>/updatecustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<url-pattern>/deletecustomers</url-pattern>
  </servlet-mapping>
</web-app>
